<div class="container">
    <h2 class="main-heading text-center">My Account</h2>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="http://localhost:8080/opencart/index.php?route=account/login" class="list-group-item">Login</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/register" class="list-group-item">Register</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/forgotten" class="list-group-item">Forgotten Password</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/account" class="list-group-item">My Account</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/address" class="list-group-item">Address Books</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/wishlist" class="list-group-item">Wish List</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/order" class="list-group-item">Order History</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/download" class="list-group-item">Downloads</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/reward" class="list-group-item">Reward Points</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/return" class="list-group-item">Returns</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/transaction" class="list-group-item">Transactions</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/newsletter" class="list-group-item">Newsletter</a>
                <a href="http://localhost:8080/opencart/index.php?route=account/recurring" class="list-group-item">Recurring payments</a>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>