





























    <div class="page-header">
		<h2><i class="fa fa-desktop"></i> <span translate="Order.$views.CreateOrEdit.title"></span> <small class="text-muted" translate="Order.$views.CreateOrEdit.description"></small></h2>	
        <span class="label label-primary" data-bind1="text: dirtyFlag.isDirty()"></span>
    </div>

        <div class="well clearfix">
            <button class="btn btn-default pull-left" ng-click="actions.save()">
                <i class="fa fa-save fa-lg"></i> <span translate="$App.save"></span>
            </button>
            <button class="btn btn-default pull-right" ng-click="actions.cancel()"><i class="fa fa-mail-reply fa-lg"></i> <span translate="$App.cancel"></span></button>
        </div>

    <form novalidate name="MyForm">
            <div class="row">
            <div class="col-md-12">
                    <div class="row">
            <div class="col col-md-12">
                	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="panel-caption" ng-init="setExpanded('X1denYoN1EiFrASzwAGyvA')" ng-click="setExpanded('X1denYoN1EiFrASzwAGyvA')" ng-class="{collapsed:!expanded['X1denYoN1EiFrASzwAGyvA']}" translate="OrderCreateOrEdit.Order"> <span class="ng-hide" ng-show="inProgress"><i class="fa fa-spinner fa-spin"></i></span></a>
		</div>

		<div class="panel-body">
			<fieldset class1="form-horizontal" role="form" id="X1denYoN1EiFrASzwAGyvA" collapse="!expanded['X1denYoN1EiFrASzwAGyvA']">
						<div class="form-group" ng-class="{'has-error': MyForm.Id.$invalid && MyForm.Id.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.Id"></label>
							<div>
								    <div>{{Order.Id}}</div>

							</div>
							<p ng-show="MyForm.Id.$error.required && MyForm.Id.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.number && MyForm.Id.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.email && MyForm.Id.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Id"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyInt.$invalid && MyForm.MyInt.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyInt"></label>
							<div>
									<input type="number" name="MyInt" class="form-control" placeholder="{{'Order.MyInt' | translate}}" ng-model="Order.MyInt" ng-required="true" />

							</div>
							<p ng-show="MyForm.MyInt.$error.required && MyForm.MyInt.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyInt"></p>
							<p ng-show="MyForm.MyInt.$error.number && MyForm.MyInt.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyInt"></p>
							<p ng-show="MyForm.MyInt.$error.email && MyForm.MyInt.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyInt"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyString.$invalid && MyForm.MyString.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyString"></label>
							<div>
									<input type="text" name="MyString" class="form-control" placeholder="{{'Order.MyString' | translate}}" ng-model="Order.MyString" ng-required="true" />

							</div>
							<p ng-show="MyForm.MyString.$error.required && MyForm.MyString.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyString"></p>
							<p ng-show="MyForm.MyString.$error.number && MyForm.MyString.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyString"></p>
							<p ng-show="MyForm.MyString.$error.email && MyForm.MyString.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyString"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyDateTime.$invalid && MyForm.MyDateTime.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyDateTime"></label>
							<div>
								    <div class="input-group">
		<input type="text" name="MyDateTime" class="form-control" ng-click="dtOpen('cxnZJh6_9Eiup7gI4KjBMg',$event)" placeholder="Order.MyDateTime" datepicker-popup="shortDate" is-open="dtOpened['cxnZJh6_9Eiup7gI4KjBMg']" ng-required="true" ng-model="Order.MyDateTime">
        <span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="dtOpen('cxnZJh6_9Eiup7gI4KjBMg',$event)"><i class="fa fa-calendar" ng-click="dtOpen('cxnZJh6_9Eiup7gI4KjBMg',$event)"></i></button>
        </span>
    </div>

							</div>
							<p ng-show="MyForm.MyDateTime.$error.required && MyForm.MyDateTime.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyDateTime"></p>
							<p ng-show="MyForm.MyDateTime.$error.number && MyForm.MyDateTime.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyDateTime"></p>
							<p ng-show="MyForm.MyDateTime.$error.email && MyForm.MyDateTime.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyDateTime"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyDecimal.$invalid && MyForm.MyDecimal.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyDecimal"></label>
							<div>
									<input type="number" name="MyDecimal" class="form-control" placeholder="{{'Order.MyDecimal' | translate}}" ng-model="Order.MyDecimal" ng-required="true" />

							</div>
							<p ng-show="MyForm.MyDecimal.$error.required && MyForm.MyDecimal.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyDecimal"></p>
							<p ng-show="MyForm.MyDecimal.$error.number && MyForm.MyDecimal.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyDecimal"></p>
							<p ng-show="MyForm.MyDecimal.$error.email && MyForm.MyDecimal.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyDecimal"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyDouble.$invalid && MyForm.MyDouble.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyDouble"></label>
							<div>
									<input type="number" name="MyDouble" class="form-control" placeholder="{{'Order.MyDouble' | translate}}" ng-model="Order.MyDouble" ng-required="true" />

							</div>
							<p ng-show="MyForm.MyDouble.$error.required && MyForm.MyDouble.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyDouble"></p>
							<p ng-show="MyForm.MyDouble.$error.number && MyForm.MyDouble.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyDouble"></p>
							<p ng-show="MyForm.MyDouble.$error.email && MyForm.MyDouble.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyDouble"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyBoolean.$invalid && MyForm.MyBoolean.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Order.MyBoolean"></label>
							<div>
								    <label><input type="checkbox" name="MyBoolean" ng-model="Order.MyBoolean" ng-required="false" /></label>

							</div>
							<p ng-show="MyForm.MyBoolean.$error.required && MyForm.MyBoolean.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyBoolean"></p>
							<p ng-show="MyForm.MyBoolean.$error.number && MyForm.MyBoolean.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyBoolean"></p>
							<p ng-show="MyForm.MyBoolean.$error.email && MyForm.MyBoolean.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyBoolean"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.CustomerId.$invalid && MyForm.CustomerId.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Order.CustomerId"></label>
							<div>
									<select class="form-control" name="CustomerId" ng-model="Order.CustomerId" ng-required="true" ng-options="item.Id as item.Name for item in $$lookups.CustomerId">
		<option value="">(select)</option>
	</select>

							</div>
							<p ng-show="MyForm.CustomerId.$error.required && MyForm.CustomerId.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="CustomerId"></p>
							<p ng-show="MyForm.CustomerId.$error.number && MyForm.CustomerId.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="CustomerId"></p>
							<p ng-show="MyForm.CustomerId.$error.email && MyForm.CustomerId.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="CustomerId"></p>
						</div>
			</fieldset>
		</div>
	</div>	

            </div>
    </div>

            </div>
    </div>

    </form>


