





























    <div class="page-header">
		<h2><i class="fa fa-desktop"></i> <span translate="Order.$views.Details.title"></span> <small class="text-muted" translate="Order.$views.Details.description"></small></h2>	
        <span class="label label-primary" data-bind1="text: dirtyFlag.isDirty()"></span>
    </div>


    <form novalidate name="MyForm">
            <div class="row">
            <div class="col-md-12">
                    <div class="row">
            <div class="col col-md-12">
                	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="panel-caption" ng-init="setExpanded('qCMwky2Z_EW8zcKcR5ABiA')" ng-click="setExpanded('qCMwky2Z_EW8zcKcR5ABiA')" ng-class="{collapsed:!expanded['qCMwky2Z_EW8zcKcR5ABiA']}" translate="OrderDetails.Order"> <span class="ng-hide" ng-show="inProgress"><i class="fa fa-spinner fa-spin"></i></span></a>
		</div>

		<div class="panel-body">
			<fieldset class1="form-horizontal" role="form" id="qCMwky2Z_EW8zcKcR5ABiA" collapse="!expanded['qCMwky2Z_EW8zcKcR5ABiA']">
						<div class="form-group" ng-class="{'has-error': MyForm.Id.$invalid && MyForm.Id.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.Id"></label>
							<div>
								    <div>{{Order.Id}}</div>

							</div>
							<p ng-show="MyForm.Id.$error.required && MyForm.Id.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.number && MyForm.Id.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.email && MyForm.Id.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Id"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyInt.$invalid && MyForm.MyInt.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyInt"></label>
							<div>
								    <div>{{Order.MyInt}}</div>

							</div>
							<p ng-show="MyForm.MyInt.$error.required && MyForm.MyInt.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyInt"></p>
							<p ng-show="MyForm.MyInt.$error.number && MyForm.MyInt.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyInt"></p>
							<p ng-show="MyForm.MyInt.$error.email && MyForm.MyInt.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyInt"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyString.$invalid && MyForm.MyString.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyString"></label>
							<div>
								    <div>{{Order.MyString}}</div>

							</div>
							<p ng-show="MyForm.MyString.$error.required && MyForm.MyString.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyString"></p>
							<p ng-show="MyForm.MyString.$error.number && MyForm.MyString.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyString"></p>
							<p ng-show="MyForm.MyString.$error.email && MyForm.MyString.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyString"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyDateTime.$invalid && MyForm.MyDateTime.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyDateTime"></label>
							<div>
								    <div>{{Order.MyDateTime}}</div>

							</div>
							<p ng-show="MyForm.MyDateTime.$error.required && MyForm.MyDateTime.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyDateTime"></p>
							<p ng-show="MyForm.MyDateTime.$error.number && MyForm.MyDateTime.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyDateTime"></p>
							<p ng-show="MyForm.MyDateTime.$error.email && MyForm.MyDateTime.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyDateTime"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyDecimal.$invalid && MyForm.MyDecimal.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyDecimal"></label>
							<div>
								    <div>{{Order.MyDecimal}}</div>

							</div>
							<p ng-show="MyForm.MyDecimal.$error.required && MyForm.MyDecimal.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyDecimal"></p>
							<p ng-show="MyForm.MyDecimal.$error.number && MyForm.MyDecimal.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyDecimal"></p>
							<p ng-show="MyForm.MyDecimal.$error.email && MyForm.MyDecimal.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyDecimal"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyDouble.$invalid && MyForm.MyDouble.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Order.MyDouble"></label>
							<div>
								    <div>{{Order.MyDouble}}</div>

							</div>
							<p ng-show="MyForm.MyDouble.$error.required && MyForm.MyDouble.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyDouble"></p>
							<p ng-show="MyForm.MyDouble.$error.number && MyForm.MyDouble.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyDouble"></p>
							<p ng-show="MyForm.MyDouble.$error.email && MyForm.MyDouble.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyDouble"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.MyBoolean.$invalid && MyForm.MyBoolean.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Order.MyBoolean"></label>
							<div>
								    <label><input type="checkbox" name="MyBoolean" ng-model="Order.MyBoolean" ng-required="false" /></label>

							</div>
							<p ng-show="MyForm.MyBoolean.$error.required && MyForm.MyBoolean.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="MyBoolean"></p>
							<p ng-show="MyForm.MyBoolean.$error.number && MyForm.MyBoolean.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="MyBoolean"></p>
							<p ng-show="MyForm.MyBoolean.$error.email && MyForm.MyBoolean.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="MyBoolean"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.CustomerId.$invalid && MyForm.CustomerId.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Order.CustomerId"></label>
							<div>
								    <div>{{Order.CustomerId}}</div>

							</div>
							<p ng-show="MyForm.CustomerId.$error.required && MyForm.CustomerId.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="CustomerId"></p>
							<p ng-show="MyForm.CustomerId.$error.number && MyForm.CustomerId.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="CustomerId"></p>
							<p ng-show="MyForm.CustomerId.$error.email && MyForm.CustomerId.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="CustomerId"></p>
						</div>
			</fieldset>
		</div>
	</div>	

            </div>
            <div class="col col-md-12">
                	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="panel-caption" ng-init="setExpanded('R9p83Z7E3EC3siZZTmRt_g')" ng-click="setExpanded('R9p83Z7E3EC3siZZTmRt_g')" ng-class="{collapsed:!expanded['R9p83Z7E3EC3siZZTmRt_g']}" translate="Order.BillingAddress"> <span class="ng-hide" ng-show="inProgress"><i class="fa fa-spinner fa-spin"></i></span></a>
		</div>

		<div class="panel-body">
			<fieldset class1="form-horizontal" role="form" id="R9p83Z7E3EC3siZZTmRt_g" collapse="!expanded['R9p83Z7E3EC3siZZTmRt_g']">
						<div class="form-group" ng-class="{'has-error': MyForm.Id.$invalid && MyForm.Id.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Address.Id"></label>
							<div>
								    <div>{{Order.BillingAddress.Id}}</div>

							</div>
							<p ng-show="MyForm.Id.$error.required && MyForm.Id.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.number && MyForm.Id.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.email && MyForm.Id.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Id"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.Street.$invalid && MyForm.Street.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Address.Street"></label>
							<div>
								    <div>{{Order.BillingAddress.Street}}</div>

							</div>
							<p ng-show="MyForm.Street.$error.required && MyForm.Street.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Street"></p>
							<p ng-show="MyForm.Street.$error.number && MyForm.Street.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Street"></p>
							<p ng-show="MyForm.Street.$error.email && MyForm.Street.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Street"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.City.$invalid && MyForm.City.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Address.City"></label>
							<div>
								    <div>{{Order.BillingAddress.City}}</div>

							</div>
							<p ng-show="MyForm.City.$error.required && MyForm.City.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="City"></p>
							<p ng-show="MyForm.City.$error.number && MyForm.City.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="City"></p>
							<p ng-show="MyForm.City.$error.email && MyForm.City.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="City"></p>
						</div>
			</fieldset>
		</div>
	</div>	

            </div>
            <div class="col col-md-12">
                	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="panel-caption" ng-init="setExpanded('GDEhe1XWMESyLN5mvElt2Q')" ng-click="setExpanded('GDEhe1XWMESyLN5mvElt2Q')" ng-class="{collapsed:!expanded['GDEhe1XWMESyLN5mvElt2Q']}" translate="Order.Customer"> <span class="ng-hide" ng-show="inProgress"><i class="fa fa-spinner fa-spin"></i></span></a>
		</div>

		<div class="panel-body">
			<fieldset class1="form-horizontal" role="form" id="GDEhe1XWMESyLN5mvElt2Q" collapse="!expanded['GDEhe1XWMESyLN5mvElt2Q']">
						<div class="form-group" ng-class="{'has-error': MyForm.Id.$invalid && MyForm.Id.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="Customer.Id"></label>
							<div>
								    <div>{{Order.Customer.Id}}</div>

							</div>
							<p ng-show="MyForm.Id.$error.required && MyForm.Id.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.number && MyForm.Id.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.email && MyForm.Id.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Id"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.Name.$invalid && MyForm.Name.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Customer.Name"></label>
							<div>
								    <div>{{Order.Customer.Name}}</div>

							</div>
							<p ng-show="MyForm.Name.$error.required && MyForm.Name.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Name"></p>
							<p ng-show="MyForm.Name.$error.number && MyForm.Name.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Name"></p>
							<p ng-show="MyForm.Name.$error.email && MyForm.Name.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Name"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.Address.$invalid && MyForm.Address.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Customer.Address"></label>
							<div>
								    <div>{{Order.Customer.Address}}</div>

							</div>
							<p ng-show="MyForm.Address.$error.required && MyForm.Address.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Address"></p>
							<p ng-show="MyForm.Address.$error.number && MyForm.Address.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Address"></p>
							<p ng-show="MyForm.Address.$error.email && MyForm.Address.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Address"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.Photo.$invalid && MyForm.Photo.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="Customer.Photo"></label>
							<div>
								    <p class="form-control-static">
        <img class="img-thumbnail img-responsive" style="width: 90px; height: 90px;" ng-src="data:image/JPEG;base64,{{Order.Customer.Photo}}">
    </p>

							</div>
							<p ng-show="MyForm.Photo.$error.required && MyForm.Photo.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Photo"></p>
							<p ng-show="MyForm.Photo.$error.number && MyForm.Photo.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Photo"></p>
							<p ng-show="MyForm.Photo.$error.email && MyForm.Photo.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Photo"></p>
						</div>
			</fieldset>
		</div>
	</div>	

            </div>
            <div class="col col-md-12">
                    <tabset>
            <tab heading="{{'Order.OrderDetails' | translate}}">
                <div>
                        <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <a class="panel-caption" translate="Order.OrderDetails" ng-init="setExpanded('Q4rOrGr6VkKeJ4eEke3a3Q')" ng-click="setExpanded('Q4rOrGr6VkKeJ4eEke3a3Q')" ng-class="{collapsed:!expanded['Q4rOrGr6VkKeJ4eEke3a3Q']}"></a> <span class="ng-hide" ng-show="Order.OrderDetails.inProgress"><i class="fa fa-spinner fa-spin"></i></span> 
            </div>
            <div class="pull-right">
                <button class="btn btn-success  btn-xs" popover="New" popover-trigger="mouseenter" ng-click="Order.OrderDetails.actions.create()" translate="$App.create"></button>
                <div class="btn-group" ng-if="Order.OrderDetails.selectedItem!=null">
                    <button class="btn btn-success  btn-xs" popover="Edit" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.OrderDetails.actions.edit()"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-primary  btn-xs" popover="Details" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.OrderDetails.actions.details()"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-danger  btn-xs" popover="Delete" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.OrderDetails.actions.delete()"><i class="fa fa-trash-o"></i></button>
                </div>
                <div class="btn-group btn-group-xs" dropdown="dropdown">
                    <button type="button" class="btn btn-default" popover="Sort" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.OrderDetails.sortDirectionChanged()">
                        <span>{{Order.OrderDetails.state.sortColumn}}</span>&nbsp;
                        <i class="fa fa-fw" ng-class="{'fa-sort-amount-asc': Order.OrderDetails.state.sortDirection=='Asc', 'fa-sort-amount-desc': Order.OrderDetails.state.sortDirection=='Desc'}"></i>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.OrderDetails.sortColumnChanged('Id')" translate="OrderDetail.Id"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.OrderDetails.sortColumnChanged('OrderId')" translate="OrderDetail.OrderId"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.OrderDetails.sortColumnChanged('ProductId')" translate="OrderDetail.ProductId"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.OrderDetails.sortColumnChanged('Quantity')" translate="OrderDetail.Quantity"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.OrderDetails.sortColumnChanged('Price')" translate="OrderDetail.Price"></a>
                            </li>
                    </ul>

                </div>
            </div>
        </div>
		<div class="panel-body">
			<div id="Q4rOrGr6VkKeJ4eEke3a3Q" collapse="!expanded['Q4rOrGr6VkKeJ4eEke3a3Q']">
				<table class="table table-condensed">
					<thead>
						<tr>
								<th translate="OrderDetail.Id"></th>
								<th translate="OrderDetail.OrderId"></th>
								<th translate="OrderDetail.ProductId"></th>
								<th translate="OrderDetail.Quantity"></th>
								<th translate="OrderDetail.Price"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Order.OrderDetails.items" ng-click="Order.OrderDetails.selectedItemChanged(item);" ng-class="{'bg-primary': item===Order.OrderDetails.selectedItem}">
								<td>    <div>{{item.Id}}</div>
</td>
								<td>    <div>{{item.OrderId}}</div>
</td>
								<td>    <div>{{item.ProductId}}</div>
</td>
								<td>    <div>{{item.Quantity}}</div>
</td>
								<td>    <div>{{item.Price}}</div>
</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
        <div class="panel-footer clearfix">
            <div class="pull-left pagination">
				<span>{{Order.OrderDetails.pager.totalRecords}} <span translate="$App.pager.recordsFound"></span></span>
				<span style="padding-left:20px; padding-right:5px;" translate="$App.pager.show"></span>
                <select ng-model="Order.OrderDetails.pager.pageSize" ng-change="Order.OrderDetails.pageSizeChanged(pager.pageSize)" ng-options="o for o in Order.OrderDetails.pager.pageSizeOptions"></select> <span translate="$App.pager.entries"></span>
            </div>

            <div id="pager" class="pull-right">
                <pagination boundary-links="true" total-items="Order.OrderDetails.pager.totalRecords" items-per-page="Order.OrderDetails.pager.pageSize" max-size="Order.OrderDetails.pager.pageSlide" num-pages="Order.OrderDetails.pager.totalPages" rotate="false" ng-model="Order.OrderDetails.pager.pageIndex" ng-change="Order.OrderDetails.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

                </div>
            </tab>
            <tab heading="{{'Order.Tags' | translate}}">
                <div>
                        <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <a class="panel-caption" translate="Order.Tags" ng-init="setExpanded('grp1NX0pR0KCYy-EhlJayQ')" ng-click="setExpanded('grp1NX0pR0KCYy-EhlJayQ')" ng-class="{collapsed:!expanded['grp1NX0pR0KCYy-EhlJayQ']}"></a> <span class="ng-hide" ng-show="Order.Tags.inProgress"><i class="fa fa-spinner fa-spin"></i></span> 
            </div>
            <div class="pull-right">
                <button class="btn btn-success  btn-xs" popover="New" popover-trigger="mouseenter" ng-click="Order.Tags.actions.create()" translate="$App.create"></button>
                <div class="btn-group" ng-if="Order.Tags.selectedItem!=null">
                    <button class="btn btn-success  btn-xs" popover="Edit" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.Tags.actions.edit()"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-primary  btn-xs" popover="Details" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.Tags.actions.details()"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-danger  btn-xs" popover="Delete" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.Tags.actions.delete()"><i class="fa fa-trash-o"></i></button>
                </div>
                <div class="btn-group btn-group-xs" dropdown="dropdown">
                    <button type="button" class="btn btn-default" popover="Sort" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="Order.Tags.sortDirectionChanged()">
                        <span>{{Order.Tags.state.sortColumn}}</span>&nbsp;
                        <i class="fa fa-fw" ng-class="{'fa-sort-amount-asc': Order.Tags.state.sortDirection=='Asc', 'fa-sort-amount-desc': Order.Tags.state.sortDirection=='Desc'}"></i>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.Tags.sortColumnChanged('Id')" translate="Tag.Id"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="Order.Tags.sortColumnChanged('Name')" translate="Tag.Name"></a>
                            </li>
                    </ul>

                </div>
            </div>
        </div>
		<div class="panel-body">
			<div id="grp1NX0pR0KCYy-EhlJayQ" collapse="!expanded['grp1NX0pR0KCYy-EhlJayQ']">
				<table class="table table-condensed">
					<thead>
						<tr>
								<th translate="Tag.Id"></th>
								<th translate="Tag.Name"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Order.Tags.items" ng-click="Order.Tags.selectedItemChanged(item);" ng-class="{'bg-primary': item===Order.Tags.selectedItem}">
								<td>    <div>{{item.Id}}</div>
</td>
								<td>    <div>{{item.Name}}</div>
</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
        <div class="panel-footer clearfix">
            <div class="pull-left pagination">
				<span>{{Order.Tags.pager.totalRecords}} <span translate="$App.pager.recordsFound"></span></span>
				<span style="padding-left:20px; padding-right:5px;" translate="$App.pager.show"></span>
                <select ng-model="Order.Tags.pager.pageSize" ng-change="Order.Tags.pageSizeChanged(pager.pageSize)" ng-options="o for o in Order.Tags.pager.pageSizeOptions"></select> <span translate="$App.pager.entries"></span>
            </div>

            <div id="pager" class="pull-right">
                <pagination boundary-links="true" total-items="Order.Tags.pager.totalRecords" items-per-page="Order.Tags.pager.pageSize" max-size="Order.Tags.pager.pageSlide" num-pages="Order.Tags.pager.totalPages" rotate="false" ng-model="Order.Tags.pager.pageIndex" ng-change="Order.Tags.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

                </div>
            </tab>
    </tabset>

            </div>
    </div>

            </div>
    </div>

    </form>


