





























    <div class="page-header">
		<h2><i class="fa fa-desktop"></i> <span translate="ProductCategory.$views.Details.title"></span> <small class="text-muted" translate="ProductCategory.$views.Details.description"></small></h2>	
        <span class="label label-primary" data-bind1="text: dirtyFlag.isDirty()"></span>
    </div>


    <form novalidate name="MyForm">
            <div class="row">
            <div class="col-md-12">
                    <div class="row">
            <div class="col col-md-12">
                	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="panel-caption" ng-init="setExpanded('C2KDh_qsWUCbsfF_NyuFhg')" ng-click="setExpanded('C2KDh_qsWUCbsfF_NyuFhg')" ng-class="{collapsed:!expanded['C2KDh_qsWUCbsfF_NyuFhg']}" translate="ProductCategoryDetails.ProductCategory"> <span class="ng-hide" ng-show="inProgress"><i class="fa fa-spinner fa-spin"></i></span></a>
		</div>

		<div class="panel-body">
			<fieldset class1="form-horizontal" role="form" id="C2KDh_qsWUCbsfF_NyuFhg" collapse="!expanded['C2KDh_qsWUCbsfF_NyuFhg']">
						<div class="form-group" ng-class="{'has-error': MyForm.Id.$invalid && MyForm.Id.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': true }" translate="ProductCategory.Id"></label>
							<div>
								    <div>{{ProductCategory.Id}}</div>

							</div>
							<p ng-show="MyForm.Id.$error.required && MyForm.Id.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.number && MyForm.Id.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Id"></p>
							<p ng-show="MyForm.Id.$error.email && MyForm.Id.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Id"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.Name.$invalid && MyForm.Name.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="ProductCategory.Name"></label>
							<div>
								    <div>{{ProductCategory.Name}}</div>

							</div>
							<p ng-show="MyForm.Name.$error.required && MyForm.Name.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Name"></p>
							<p ng-show="MyForm.Name.$error.number && MyForm.Name.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Name"></p>
							<p ng-show="MyForm.Name.$error.email && MyForm.Name.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Name"></p>
						</div>
						<div class="form-group" ng-class="{'has-error': MyForm.Photo.$invalid && MyForm.Photo.$dirty }">
							<label class="control-label" ng-class="{'control-label-required': false }" translate="ProductCategory.Photo"></label>
							<div>
								    <p class="form-control-static">
        <img class="img-thumbnail img-responsive" style="width: 90px; height: 90px;" ng-src="data:image/JPEG;base64,{{ProductCategory.Photo}}">
    </p>

							</div>
							<p ng-show="MyForm.Photo.$error.required && MyForm.Photo.$dirty" class="help-block" translate="$App.validation.required" translate-value-field="Photo"></p>
							<p ng-show="MyForm.Photo.$error.number && MyForm.Photo.$dirty" class="help-block" translate="$App.validation.number" translate-value-field="Photo"></p>
							<p ng-show="MyForm.Photo.$error.email && MyForm.Photo.$dirty" class="help-block" translate="$App.validation.email" translate-value-field="Photo"></p>
						</div>
			</fieldset>
		</div>
	</div>	

            </div>
            <div class="col col-md-12">
                    <tabset>
            <tab heading="{{'ProductCategory.Products' | translate}}">
                <div>
                        <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <a class="panel-caption" translate="ProductCategory.Products" ng-init="setExpanded('2KGYBO2dpEmP9gSKi1ZMmA')" ng-click="setExpanded('2KGYBO2dpEmP9gSKi1ZMmA')" ng-class="{collapsed:!expanded['2KGYBO2dpEmP9gSKi1ZMmA']}"></a> <span class="ng-hide" ng-show="ProductCategory.Products.inProgress"><i class="fa fa-spinner fa-spin"></i></span> 
            </div>
            <div class="pull-right">
                <button class="btn btn-success  btn-xs" popover="New" popover-trigger="mouseenter" ng-click="ProductCategory.Products.actions.create()" translate="$App.create"></button>
                <div class="btn-group" ng-if="ProductCategory.Products.selectedItem!=null">
                    <button class="btn btn-success  btn-xs" popover="Edit" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="ProductCategory.Products.actions.edit()"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-primary  btn-xs" popover="Details" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="ProductCategory.Products.actions.details()"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-danger  btn-xs" popover="Delete" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="ProductCategory.Products.actions.delete()"><i class="fa fa-trash-o"></i></button>
                </div>
                <div class="btn-group btn-group-xs" dropdown="dropdown">
                    <button type="button" class="btn btn-default" popover="Sort" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="ProductCategory.Products.sortDirectionChanged()">
                        <span>{{ProductCategory.Products.state.sortColumn}}</span>&nbsp;
                        <i class="fa fa-fw" ng-class="{'fa-sort-amount-asc': ProductCategory.Products.state.sortDirection=='Asc', 'fa-sort-amount-desc': ProductCategory.Products.state.sortDirection=='Desc'}"></i>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0)" ng-click="ProductCategory.Products.sortColumnChanged('Id')" translate="Product.Id"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="ProductCategory.Products.sortColumnChanged('Name')" translate="Product.Name"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="ProductCategory.Products.sortColumnChanged('Decription')" translate="Product.Decription"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="ProductCategory.Products.sortColumnChanged('CategoryId')" translate="Product.CategoryId"></a>
                            </li>
                    </ul>

                </div>
            </div>
        </div>
		<div class="panel-body">
			<div id="2KGYBO2dpEmP9gSKi1ZMmA" collapse="!expanded['2KGYBO2dpEmP9gSKi1ZMmA']">
				<table class="table table-condensed">
					<thead>
						<tr>
								<th translate="Product.Id"></th>
								<th translate="Product.Name"></th>
								<th translate="Product.Decription"></th>
								<th translate="Product.CategoryId"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in ProductCategory.Products.items" ng-click="ProductCategory.Products.selectedItemChanged(item);" ng-class="{'bg-primary': item===ProductCategory.Products.selectedItem}">
								<td>    <div>{{item.Id}}</div>
</td>
								<td>    <div>{{item.Name}}</div>
</td>
								<td>    <div>{{item.Decription}}</div>
</td>
								<td>    <div>{{item.CategoryId}}</div>
</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
        <div class="panel-footer clearfix">
            <div class="pull-left pagination">
				<span>{{ProductCategory.Products.pager.totalRecords}} <span translate="$App.pager.recordsFound"></span></span>
				<span style="padding-left:20px; padding-right:5px;" translate="$App.pager.show"></span>
                <select ng-model="ProductCategory.Products.pager.pageSize" ng-change="ProductCategory.Products.pageSizeChanged(pager.pageSize)" ng-options="o for o in ProductCategory.Products.pager.pageSizeOptions"></select> <span translate="$App.pager.entries"></span>
            </div>

            <div id="pager" class="pull-right">
                <pagination boundary-links="true" total-items="ProductCategory.Products.pager.totalRecords" items-per-page="ProductCategory.Products.pager.pageSize" max-size="ProductCategory.Products.pager.pageSlide" num-pages="ProductCategory.Products.pager.totalPages" rotate="false" ng-model="ProductCategory.Products.pager.pageIndex" ng-change="ProductCategory.Products.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

                </div>
            </tab>
    </tabset>

            </div>
    </div>

            </div>
    </div>

    </form>


